{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<section class="news-block">
            <div class="container-fluid">
        <div class="news-left">
            <h3>{{ category.name }} news</h3>
            {% for post in posts %}
            <div class="news-block-card">
                <img src="{{ post.image_url }}" alt="{{ post.title }}" class="news-block-img">
                <div class="news-block-info">
                    <h3>{{ post.title|truncatewords:7 }}</h3>
                    <span>{{ post.created_at|date:"d.m.Y" }}</span>
                    <a href="#">#{{ post.category.name }}</a>
                    <p>{{ post.description|truncatewords:20 }}</p>
                    <a href="{% url 'read_news_page' pk=post.pk %}">READ</a>
                </div>
            </div>
            {% endfor %}

            </div>
            <div class="news-right">
                <div class="news-block-adv">
                <h3>Advertising</h3>
                <div class="news-adv-card">
                    {% for adv in advs %}
                    <img src="{{ adv.image_url }}" alt="Advertising" class="news-adv-img">
                    {% endfor %}</div>
                </div>
            </div>
            </div>

    </section>
{% endblock %}